@import "../../index.css";
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 8px 0;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.description {
  font-size: 1rem;
  color: #666;
}

.content_generator_button_goback{
  max-width: 140px;
  height: 40px;
  padding: 8px 12px 8px 0;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  background: none;
  box-shadow: none;
  color: #000;
  transition: transform 0.5s ease;
}

.content_generator_button_goback:hover{
  text-decoration: none;
  opacity: 0.9;
  color: #000;
}

.content_generator_button_goback::before{
  content: '';
  background-image: url('../../assets/arrow-left-solid.svg');
  width: 16px;
  height: 17px;
}

.content_generator_button_save{
  max-width: 140px;
  max-height: 40px;
  padding: 8px 12px;
  cursor: pointer;
  transition: transform 0.5s ease;
  color: var(--secundary-color);
  font-size: 16px;
  font-weight: 500;
  border: solid 1px var(--secundary-color);
  background: none;
  cursor: pointer;
  text-align: center;
  margin-top: 5px;
}

.content_generator_button_save:hover{
  text-decoration: none;
  background-color: var(--secundary-color);
  color: #fff;
}

.content_generator_button_generator{
  padding: 8px 12px;
  cursor: pointer;
  transition: transform 0.5s ease;
  color: var(--secundary-color);
  font-size: 16px;
  font-weight: 500;
  border: solid 1px var(--secundary-color);
  background: none;
  cursor: pointer;
  text-align: center;
  margin-top: 5px;
}

.content_generator_button_generator:hover{
  text-decoration: none;
  background-color: var(--secundary-color);
  color: #fff;
}