.content_generator_buttons{
    display: flex;
    justify-content: space-between;
}

.content_generator_button_goback{
    max-width: 140px;
    height: 40px;
    padding: 8px 12px 8px 0;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    background: none;
    box-shadow: none;
    color: #000;
    transition: transform 0.5s ease;
}

.content_generator_button_goback:hover{
    text-decoration: none;
    opacity: 0.9;
    color: #000;
}

.content_generator_button_goback::before{
    content: '';
    background-image: url('../../assets/arrow-left-solid.svg');
    width: 16px;
    height: 17px;
}

.content_generator_button_save{
    max-width: 140px;
    max-height: 40px;
    padding: 8px 12px;
    cursor: pointer;
    transition: transform 0.5s ease;
}